<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SunnysideAgency.styles.css" asp-append-version="true">
    <title>@ViewData["Title"]</title>
</head>
<body>
    @RenderBody()
    @RenderSection(name:"projects", required: false)
    @RenderSection(name:"slider", required: false)
    @RenderSection(name:"footer", required: false)
    <script src="https://kit.fontawesome.com/41522ef097.js" crossorigin="anonymous"></script>
</body>
</html>